@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&display=swap');
h1 {
    font-family: 'Baloo Chettan 2', cursive;
}
h2 {
    font-family: 'Baloo Chettan 2', cursive;
}
h3 {
    font-family: 'Baloo Chettan 2', cursive;
}
h4 {
    font-family: 'Baloo Chettan 2', cursive;
}
h5 {
    font-family: 'Baloo Chettan 2', cursive;
}
h6 {
    font-family: 'Baloo Chettan 2', cursive;
}
p {
    font-family: 'Baloo Chettan 2', cursive;
}
li {
    font-family: 'Baloo Chettan 2', cursive;
}
a {
    font-family: 'Baloo Chettan 2', cursive;
}